body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(190deg, #cbe5ff, #3497fa, #1360ad);
}

#intro, header, main {
    max-width: 1200px;
    margin: auto;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #ad6d02;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1360ad;
}

header > nav {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

header > h2 {
    margin-left: 20px;
}

#about {
    padding-top: 20px;    
}

.about-card {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3497fa;
}

.about-card > p, .about-card > h3 {
    margin-left: 20px;
    margin-right: 20px;
}

.about-card > img {
    max-width: 8rem;
}

#projects {
    margin-left: 20px;
    margin-right: 20px;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #cbe5ff;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.project-card > img {
    flex: 2;
}

.project-description {
    flex: 1;
    background-color: #3497fa;
}

#contact {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    display: flex;
}

.contact-card, .other {
    flex: 1;
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.phone, .email, .github, .linkedin{
    display: flex;
    align-items: center;
    gap: 10px;
}

#phone-icon, #email-icon {
    height: 2rem;
    width: auto;
}

.devicon-github-original, .devicon-linkedin-plain {
    font-size: 2rem;
}
