html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(190deg, #cbe5ff, #3497fa, #1360ad);
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes changeOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#intro, header, main {
    max-width: 1200px;
    margin: auto;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#intro > h1 {
    transform: translateX(-100%);
    opacity: 0;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
    animation-fill-mode: forwards;
}

#intro > p {
    transform: translateX(-100%);
    opacity: 0;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
    animation-fill-mode: forwards;
}

#intro > button {
    opacity: 0;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-name: changeOpacity;
    animation-fill-mode: forwards;
}

main {
    background-color: #ad6d02;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1360ad;
}

header > nav {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

header > h2 {
    margin-left: 20px;
}

#about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-card {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3497fa;
}

.about-card > p, .about-card > h3 {
    margin-left: 20px;
    margin-right: 20px;
}

.about-card > img {
    max-width: 8rem;
}

#projects {
    margin-left: 20px;
    margin-right: 20px;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #cbe5ff;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.project-card > img {
    flex: 2;
}

.project-description {
    flex: 1;
    background-color: #3497fa;
}

#contact {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

.contact-message, .contact-links {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.contact-message {
    align-items: center;
}

.phone, .email, .github, .linkedin{
    display: flex;
    align-items: center;
    gap: 10px;
}

#phone-icon, #email-icon {
    height: 2rem;
    width: auto;
}

.devicon-github-original, .devicon-linkedin-plain {
    font-size: 2rem;
}

@media screen and (max-width: 1000px) {
    #intro, header, main {
        max-width: 1000px;
    }

    #about {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .about-card {
        max-width: 500px;
    }

    #projects {
        margin-left: 10px;
        margin-right: 10px;
    }

    .project-grid-container {
        gap: 10px;
    }

    #contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    #intro, header, main {
        max-width: 500px;
    }

    header > nav {
        margin-right: 10px;
        gap: 5px;
    }

    header > h2 {
        margin-left: 10px;
    }

    #about {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .about-card {
        max-width: 380px;
    }

    #projects {
        margin-left: 10px;
        margin-right: 10px;
    }

    .project-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    }
    
    #contact {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 400px) {
    #intro, header, main {
        max-width: 400px;
    }
    
    header > nav {
        flex-direction: column;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header > h2 {
        margin-left: 10px;
    }

    #about {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .about-card {
        max-width: 300px;
    }

    #projects {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .project-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }

    #contact {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}